.u-section-1 {
  background-image: url("images/340226-Digital-Art-City-Stars-Starry-Night-Comet-Scenery.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 699px;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  font-family: Oswald, sans-serif;
  margin: 20px 328px 0 401px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  text-shadow: -2px 0 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  margin: 100px 509px 0 130px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-style: italic;
  text-decoration: underline !important;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  font-weight: normal;
  margin: 80px 19px 0 653px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 22px 360px 0 37px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 29px auto 60px 328px;
  padding: 7px 27px 7px 26px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 270px;
    margin-left: 301px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 409px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 472px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 196px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 128px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 207px;
    margin-left: 191px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 219px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 252px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 155px;
    margin-left: 101px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 39px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 72px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 208px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 98px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }
}